// SECTION HERO
.section-hero {
  display: grid;
  place-content: center;
  min-height: 90vh;
  text-align: center;

  img {
    max-width: 150px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  .above-title {
    margin-bottom: 0.65rem;
    font-size: var(--fs-600);
  }

  .below-title {
    font-size: var(--fs-500);
  }

  h1 {
    margin-left: -0.35vw;
  }
}

// SECTION WARNING
.section-warning {
  min-height: 40vh;

  .above-title {
    margin: 0;
  }

  h2 {
    span {
      color: var(--clr-white);
    }
  }

  .text {
    margin-top: 0.75rem;
    font-size: var(--fs-500);

    span {
      color: #621411;
    }
  }

  .text--sublime {
    margin-top: 0.5rem;
    font-size: var(--fs-400);
    font-style: italic;
    font-weight: 500;
  }

  .center {
    margin-top: 2.6rem;
  }

  .underline-accent {
    display: inline-block;
    margin: 0 auto;
    font-size: var(--fs-500);
    color: var(--clr-white);
  }
}

// SECTION NUMBERS
.section-numbers {
  min-height: 90vh;

  h2 {
    // TODO: Ver como isso fica na tela do VItor
    max-width: 13ch;
    margin-bottom: 2.6rem;
  }
}

// SECTION FRANCHISES
.section-franchises {
  .above-title {
    margin: 0;
  }
  .below-title {
    margin-bottom: 5.2rem;
    font-style: italic;
    font-weight: 500;
  }

  .splide__slide {
    padding: 0 5%;
  }

  .splide__arrow.splide__arrow {
    top: 103%; // move the arrows to the bottom
    background-color: var(--clr-accent);
    opacity: 100%;
    transition: opacity 150ms ease-in;
  }

  .splide__arrow.splide__arrow svg {
    fill: var(--clr-white);
  }

  .splide__arrow.splide__arrow:active {
    opacity: 60%;
  }

  // change dots positioning
  .splide__pagination.splide__pagination {
    bottom: -1.6rem;
  }

  .splide__pagination__page.splide__pagination__page {
    background-color: var(--clr-accent);
  }

  .splide__pagination__page.is-active.splide__pagination__page.is-active {
    background-color: var(--clr-white);
  }

  .slide__title {
    margin-bottom: 1.3rem;
    font-size: var(--fs-700);
    color: var(--clr-white);
    text-align: center;
  }

  .item-list {
    display: flex;
    flex-direction: column;

    li {
      position: relative;
      font-size: var(--fs-500);
      list-style: none;
    }
  }
}

// SECTION GALLERY
.section-gallery {
  display: grid;
  place-content: center;

  .above-title {
    margin: 0;
  }

  h2 {
    margin-bottom: 1.3rem;
  }

  .splide__track.splide__track {
    border-radius: 1rem;
  }
}

.section-testimonials,
.section-videos {
  .below-title {
    font-style: italic;
    font-weight: 500;
    margin-top: 0.65rem;
  }

  .flex {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
  }

  .container {
    width: 100%;
    margin-top: 2.6rem;
  }

  .video {
    width: 100%;
    border: 0.25rem solid var(--clr-white);
  }

  .title {
    margin-top: 0.325rem;
    font-size: var(--fs-500);
    color: var(--clr-accent);
    text-align: center;
  }
}

.section-videos {
  .below-title {
    margin-top: 0.325rem;
  }

  .title {
    color: var(--clr-white);
  }
}

footer {
  padding: 2.75vh 0;
  text-align: center;
  background-color: var(--clr-main);

  p {
    font-size: var(--fs-400);
    color: var(--clr-black);
  }
}

@media screen and (min-width: 48rem) {
  .section-franchises {
    .item-list {
      flex-direction: row;
      gap: 1.3rem;
      justify-content: center;

      li + li {
        margin-top: 0.65rem;
      }
    }

    .item-list__item-wrapper {
      display: grid;
      grid-template-rows: repeat(4, 1fr);
    }
  }
}

@media screen and (min-width: 56.25rem) {
  .section-testimonials,
  .section-videos {
    .flex {
      flex-direction: row;
    }

    .container {
      width: 50%;
    }
  }
}

@media screen and (min-width: 75rem) {
  .section-franchises {
    .item-list {
      li::before {
        display: inline-block;
        width: 1em;
        height: 1em;
        content: "";
        background-image: url(./public/images/coxa.png);
        background-repeat: no-repeat;
        background-size: contain;
      }
    }

    .splide__arrow.splide__arrow {
      top: 50%; // realign the arrows to the center
    }
  }
}
