/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "MADE TOMMY";
  font-style: normal;
  font-weight: 100;
  src: url("public/fonts/Thin.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "MADE TOMMY";
  font-style: normal;
  font-weight: 300;
  src: url("public/fonts/Light.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "MADE TOMMY";
  font-style: normal;
  font-weight: normal;
  src: url("public/fonts/Regular.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "MADE TOMMY";
  font-style: normal;
  font-weight: 500;
  src: url("public/fonts/Medium.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "MADE TOMMY";
  font-style: normal;
  font-weight: bold;
  src: url("public/fonts/Bold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "MADE TOMMY";
  font-style: normal;
  font-weight: bold;
  src: url("public/fonts/ExtraBold.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "MADE TOMMY";
  font-style: normal;
  font-weight: 900;
  src: url("public/fonts/Black.otf") format("opentype");
  font-display: swap;
}
@font-face {
  font-family: "Matiz";
  font-style: normal;
  font-weight: 900;
  src: url("public/fonts/Matiz.ttf") format("truetype");
  font-display: swap;
}
:root {
  --ff-body: "MADE TOMMY";
  --ff-title: "Matiz";
  --clr-accent: #7a1915;
  --clr-main: #ff992d;
  --clr-black: #252525;
  --clr-white: #fff;
  --select-border: rgb(170, 170, 170);
  --select-focus: var(--clr-main);
  --select-arrow: var(--select-border);
  /* Constants for Base font size (fluid) */
  --fs-base: 16px;
  --fs-factor-min: 1.2;
  --fs-factor-max: 1.666;
  --sp-factor: 1rem;
  --lh-min: 1;
  --lh-max: 1.5;
  /* Derived font sizes (min) */
  --fs-400-min: var(--fs-base);
  --fs-500-min: calc(var(--fs-400-min) * var(--fs-factor-min));
  --fs-600-min: calc(var(--fs-500-min) * var(--fs-factor-min));
  --fs-700-min: calc(var(--fs-600-min) * var(--fs-factor-min));
  --fs-800-min: calc(var(--fs-700-min) * var(--fs-factor-min));
  --fs-900-min: calc(var(--fs-800-min) * var(--fs-factor-min));
  --fs-300-min: calc(var(--fs-400-min) / var(--fs-factor-min));
  --fs-200-min: calc(var(--fs-300-min) / var(--fs-factor-min));
  /* Derived font sizes (max) */
  --fs-400-max: var(--fs-base);
  --fs-500-max: calc(var(--fs-400-max) * var(--fs-factor-max));
  --fs-600-max: calc(var(--fs-500-max) * var(--fs-factor-max));
  --fs-700-max: calc(var(--fs-600-max) * var(--fs-factor-max));
  --fs-800-max: calc(var(--fs-700-max) * var(--fs-factor-max));
  --fs-900-max: calc(var(--fs-800-max) * var(--fs-factor-max));
  --fs-300-max: calc(var(--fs-400-max) / var(--fs-factor-max));
  --fs-200-max: calc(var(--fs-300-max) / var(--fs-factor-max));
  /* Derived font sizes (fluid) */
  --fs-200: clamp(var(--fs-200-min), var(--fs-200-min) + 4vw, var(--fs-200-max));
  --fs-300: clamp(var(--fs-300-min), var(--fs-300-min) + 2vw, var(--fs-300-max));
  --fs-400: clamp(var(--fs-400-min), var(--fs-400-min) + 0vw, var(--fs-400-max));
  --fs-500: clamp(var(--fs-500-min), var(--fs-500-min) + 1vw, var(--fs-500-max));
  --fs-600: clamp(var(--fs-600-min), var(--fs-600-min) + 1.5vw, var(--fs-600-max));
  --fs-700: clamp(var(--fs-700-min), var(--fs-700-min) + 2vw, var(--fs-700-max));
  --fs-800: clamp(var(--fs-800-min), var(--fs-800-min) + 3vw, var(--fs-800-max));
  --fs-900: clamp(var(--fs-900-min), var(--fs-900-min) + 4vw, var(--fs-900-max));
  /* Derived spacings */
  --sp-200: calc(var(--sp-factor) * 0.5);
  --sp-300: calc(var(--sp-factor) * 0.75);
  --sp-400: calc(var(--sp-factor) * 1);
  --sp-500: calc(var(--sp-factor) * 2);
  --sp-600: calc(var(--sp-factor) * 3);
  --sp-700: calc(var(--sp-factor) * 4);
  --sp-800: calc(var(--sp-factor) * 5);
  --sp-900: calc(var(--sp-factor) * 6);
}

/* Setting font sizes */
p,
form,
nav,
footer,
header {
  font-size: var(--fs-400);
  line-height: var(--lh-max);
}

* > * + p {
  margin-top: var(--sp-400);
}

h5 {
  font-size: var(--fs-500);
  line-height: var(--lh-max);
}

h4 {
  font-size: var(--fs-600);
  line-height: var(--lh-max);
}

h3 {
  font-size: var(--fs-700);
  line-height: var(--lh-min);
}

h2 {
  font-size: var(--fs-800);
  line-height: var(--lh-min);
}

h1 {
  font-size: var(--fs-900);
  line-height: var(--lh-min);
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  overflow-x: hidden;
  font-family: var(--ff-body);
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-title);
  line-height: 1;
}

p {
  line-height: 1.05;
}

section {
  position: relative;
  padding: 11vh 0;
}

section:nth-child(odd) {
  color: var(--clr-white);
  background: var(--clr-accent);
  background-image: url(./public/images/pattern-2.png);
  background-size: 200px;
}
section:nth-child(odd) h1,
section:nth-child(odd) h2 {
  color: var(--clr-main);
}

section:nth-child(even) {
  background: var(--clr-main);
}
section:nth-child(even) h2 {
  color: var(--clr-accent);
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    transition-duration: 0.01ms !important;
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
.above-title {
  margin-bottom: 0.325rem;
  font-size: var(--fs-500);
}

.smile {
  display: inline-block;
  margin-left: 0.5rem;
  transform: rotateZ(90deg);
}

.section-center {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.center {
  display: flex;
  justify-content: center;
}

.underline-main {
  background-image: linear-gradient(120deg, #b36b1f 0%, #b36b1f 100%);
  background-repeat: no-repeat;
  background-position: 0 88%;
  background-size: 100% 0.6em;
  transition: background-size 0.125s ease-in;
}

.underline-accent {
  background-image: linear-gradient(
    120deg,
    var(--clr-accent) 0%,
    var(--clr-accent) 100%
  );
  background-repeat: no-repeat;
  background-position: 0 88%;
  background-size: 100% 68%;
  transition: background-size 0.125s ease-in;
}

.underline-main:hover,
.underline-accent:hover {
  background-size: 140% 98%;
}

.fw-500 {
  font-weight: 500;
}

.btn {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 25rem;
  padding: 0.325em 0.6em;
  padding: clamp(0.15625rem, 0.0953rem + 0.3049vw, 0.3125rem)
    clamp(0.3rem, 0.1829rem + 0.5854vw, 0.6rem);
  padding: 0.05em 0.1em;
  font-family: var(--ff-body);
  font-size: 1.25rem;
  font-size: clamp(1.25rem, 1.1524rem + 0.4878vw, 1.5rem);
  font-weight: 500;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  background: var(--clr-main);
  border: 0.375rem solid transparent;
  border-radius: 0.25em;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 0.375em 0.75em -0.125em,
    rgba(0, 0, 0, 0.3) 0px 0.1875em 0.4375em -0.1875em; */
  transition: opacity 250ms ease-in;
  -webkit-animation: pulse-yellow 1.5s infinite;
  animation: pulse-yellow 1.5s infinite;
}

.btn--red {
  background: var(--clr-accent);
  color: var(--clr-white);
  -webkit-animation: pulse-red 1.5s infinite;
  animation: pulse-red 1.5s infinite;
}

@-webkit-keyframes pulse-yellow {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 156, 0, 0.7);
    transform: scale(0.99);
  }
  70% {
    box-shadow: 0 0 0 0.625em rgba(255, 156, 0, 0);
    transform: scale(1);
  }
  100% {
    box-shadow: 0 0 0 0.625em rgba(255, 156, 0, 0);
    transform: scale(0.99);
  }
}

@keyframes pulse-yellow {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 156, 0, 0.7);
    transform: scale(0.99);
  }
  70% {
    box-shadow: 0 0 0 0.625em rgba(255, 156, 0, 0);
    transform: scale(1);
  }
  100% {
    box-shadow: 0 0 0 0.625em rgba(255, 156, 0, 0);
    transform: scale(0.99);
  }
}
@-webkit-keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgba(122, 25, 21, 0.7);
    transform: scale(0.99);
  }
  70% {
    box-shadow: 0 0 0 0.625em rgba(122, 25, 21, 0);
    transform: scale(1);
  }
  100% {
    box-shadow: 0 0 0 0.625em rgba(122, 25, 21, 0);
    transform: scale(0.99);
  }
}
@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgba(122, 25, 21, 0.7);
    transform: scale(0.99);
  }
  70% {
    box-shadow: 0 0 0 0.625em rgba(122, 25, 21, 0);
    transform: scale(1);
  }
  100% {
    box-shadow: 0 0 0 0.625em rgba(122, 25, 21, 0);
    transform: scale(0.99);
  }
}
.btn:hover {
  opacity: 0.8;
}

.btn:focus-visible {
  border: 0.375rem solid var(--clr-black);
  outline: none;
  transform: scale(1.025);
}

.btn--cta {
  margin: 0 auto;
  margin-top: 5.2rem;
}

.cards {
  display: grid;
  gap: 4rem;
  justify-items: center;
}

.cards--numbers {
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 1rem;
}

.cards__card {
  display: grid;
  grid-template-rows: 7rem 1fr;
  gap: 1rem;
  align-content: flex-start;
  justify-items: center;
}
.cards__card .title {
  margin-bottom: 1.2rem;
  font-size: var(--fs-700);
  font-weight: 800;
}
.cards__card img {
  align-self: flex-end;
  justify-self: flex-start;
  max-width: 300px;
}
.cards__card .cards__card__text {
  font-weight: 500;
}
.cards__card .text {
  font-size: clamp(1.3125rem, 1.1797rem + 0.625vw, 1.625rem);
}
.cards__card .text span {
  font-size: 1rem;
}

.splide__list.splide__list {
  cursor: -webkit-grab;
  cursor: grab;
  border-radius: 1rem;
}

.splide__list:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.splide__arrow.splide__arrow {
  background-color: var(--clr-main);
}

.splide__pagination__page.splide__pagination__page {
  background-color: var(--clr-accent);
}

.splide__pagination__page.is-active.splide__pagination__page.is-active {
  background-color: var(--clr-main);
}

@media screen and (min-width: 48rem) {
  .cards {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
.exit-form__trigger {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 2vh;
  background: transparent;
}

.exit-form__trigger-activator {
  position: fixed;
  top: 2vh;
  left: 0;
  z-index: 2000;
  width: 100%;
  height: 3vh;
}

.modal {
  /* background */
  position: fixed;
  /* Stay in place */
  top: 0;
  left: 0;
  z-index: 1000;
  /* Sit on top */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

.modal__image-wrapper {
  display: none;
  width: 50%;
  height: 90%;
}

.modal__image-wrapper img {
  -o-object-fit: cover;
  object-fit: cover;
  height: 100%;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.form {
  position: relative;
  z-index: 1000;
  display: flex;
  align-items: center;
  height: 90%;
}

.form .wrapper {
  position: relative;
  width: 90%;
  max-width: 31.25rem;
  height: 100%;
  padding: 2.25rem;
  margin: 0 auto;
  overflow-y: auto;
  background-color: var(--clr-white);
  border-radius: 0.5em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0.3125em 0.9375em;
}

.btn--close {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  max-width: 2rem;
  padding: 0;
  font-size: var(--fs-400);
  color: var(--clr-black);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.25em 0.375em -0.0625em,
    rgba(0, 0, 0, 0.06) 0px 0.125rem 0.25em -0.0625em;
  -webkit-animation: none;
  animation: none;
}

.form h6 {
  margin-bottom: 0.5em;
  font-size: var(--fs-600);
  font-family: var(--ff-body);
  text-align: left;
}

.form p {
  font-weight: 500;
  line-height: 1.3;
  margin-bottom: 1.5em;
}

/* Style the input fields */
.form input {
  width: 100%;
  padding: 0.625rem;
  font-family: var(--ff-body);
  font-size: 1.0625rem;
  font-weight: 500;
  border: 0.0625rem solid #323232;
  border-radius: 0.25rem;
}

.form__field-wrapper {
  margin-top: 1em;
}

.form select {
  width: 100%;
  padding: 0 1em 0 0;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  cursor: inherit;
  /* Additional resets for further consistency */
  background-color: transparent;
  border: none;
  outline: none;
  /* A reset of styles, including removing the default dropdown arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__select-wrapper {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  width: 100%;
  padding: 0.625em;
  font-size: 1.25rem;
  line-height: 1.1;
  cursor: pointer;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
  border: 0.0625em solid var(--select-border);
  border-radius: 0.25em;
}

.form__select-wrapper:focus-within {
  border: 0.0625em solid var(--select-focus);
}

.form__select-wrapper::after {
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  -webkit-clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  content: "";
  background-color: var(--select-arrow);
}

select,
.form__select-wrapper::after {
  grid-area: select;
}

.form .btn--submit {
  max-width: 100%;
  margin-top: 1em;
  font-size: var(--fs-400);
  padding: 1em 2em;
}

@media screen and (min-width: 56.25rem) {
  .modal__image-wrapper {
    display: block;
  }

  .form .wrapper {
    margin: 0;
    border-radius: 0;
    border-top-right-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
  }
}
.form--exit {
  color: #fff;
}

.form--exit .wrapper {
  background-color: #d21b1b;
}

.form--exit h6 {
  font-weight: 800;
  color: var(--clr-white);
  text-align: center;
  text-transform: uppercase;
}

.form--exit p {
  text-align: center;
}

.form--exit input {
  color: var(--clr-black);
  background-color: var(--clr-white);
}

.form--exit .btn {
  color: var(--clr-white);
  background-color: #5e1717;
  border: 0;
}

.section-hero {
  display: grid;
  place-content: center;
  min-height: 90vh;
  text-align: center;
}
.section-hero img {
  max-width: 150px;
  margin: 0 auto;
  margin-bottom: 1rem;
}
.section-hero .above-title {
  margin-bottom: 0.65rem;
  font-size: var(--fs-600);
}
.section-hero .below-title {
  font-size: var(--fs-500);
}
.section-hero h1 {
  margin-left: -0.35vw;
}

.section-warning {
  min-height: 40vh;
}
.section-warning .above-title {
  margin: 0;
}
.section-warning h2 span {
  color: var(--clr-white);
}
.section-warning .text {
  margin-top: 0.75rem;
  font-size: var(--fs-500);
}
.section-warning .text span {
  color: #621411;
}
.section-warning .text--sublime {
  margin-top: 0.5rem;
  font-size: var(--fs-400);
  font-style: italic;
  font-weight: 500;
}
.section-warning .center {
  margin-top: 2.6rem;
}
.section-warning .underline-accent {
  display: inline-block;
  margin: 0 auto;
  font-size: var(--fs-500);
  color: var(--clr-white);
}

.section-numbers {
  min-height: 90vh;
}
.section-numbers h2 {
  max-width: 13ch;
  margin-bottom: 2.6rem;
}

.section-franchises .above-title {
  margin: 0;
}
.section-franchises .below-title {
  margin-bottom: 5.2rem;
  font-style: italic;
  font-weight: 500;
}
.section-franchises .splide__slide {
  padding: 0 5%;
}
.section-franchises .splide__arrow.splide__arrow {
  top: 103%;
  background-color: var(--clr-accent);
  opacity: 100%;
  transition: opacity 150ms ease-in;
}
.section-franchises .splide__arrow.splide__arrow svg {
  fill: var(--clr-white);
}
.section-franchises .splide__arrow.splide__arrow:active {
  opacity: 60%;
}
.section-franchises .splide__pagination.splide__pagination {
  bottom: -1.6rem;
}
.section-franchises .splide__pagination__page.splide__pagination__page {
  background-color: var(--clr-accent);
}
.section-franchises
  .splide__pagination__page.is-active.splide__pagination__page.is-active {
  background-color: var(--clr-white);
}
.section-franchises .slide__title {
  margin-bottom: 1.3rem;
  font-size: var(--fs-700);
  color: var(--clr-white);
  text-align: center;
}
.section-franchises .item-list {
  display: flex;
  flex-direction: column;
}
.section-franchises .item-list li {
  position: relative;
  font-size: var(--fs-500);
  list-style: none;
}

.section-gallery {
  display: grid;
  place-content: center;
}
.section-gallery .above-title {
  margin: 0;
}
.section-gallery h2 {
  margin-bottom: 1.3rem;
}
.section-gallery .splide__track.splide__track {
  border-radius: 1rem;
}

.section-testimonials .below-title,
.section-videos .below-title {
  font-style: italic;
  font-weight: 500;
  margin-top: 0.65rem;
}
.section-testimonials .flex,
.section-videos .flex {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.section-testimonials .container,
.section-videos .container {
  width: 100%;
  margin-top: 2.6rem;
}
.section-testimonials .video,
.section-videos .video {
  width: 100%;
  border: 0.25rem solid var(--clr-white);
}
.section-testimonials .title,
.section-videos .title {
  margin-top: 0.325rem;
  font-size: var(--fs-500);
  color: var(--clr-accent);
  text-align: center;
}

.section-videos .below-title {
  margin-top: 0.325rem;
}
.section-videos .title {
  color: var(--clr-white);
}

footer {
  padding: 2.75vh 0;
  text-align: center;
  background-color: var(--clr-main);
}
footer p {
  font-size: var(--fs-400);
  color: var(--clr-black);
}

@media screen and (min-width: 48rem) {
  .section-franchises .item-list {
    flex-direction: row;
    gap: 1.3rem;
    justify-content: center;
  }
  .section-franchises .item-list li + li {
    margin-top: 0.65rem;
  }
  .section-franchises .item-list__item-wrapper {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
  }
}
@media screen and (min-width: 56.25rem) {
  .section-testimonials .flex,
  .section-videos .flex {
    flex-direction: row;
  }
  .section-testimonials .container,
  .section-videos .container {
    width: 50%;
  }
}
@media screen and (min-width: 75rem) {
  .section-franchises .item-list li::before {
    display: inline-block;
    width: 1em;
    height: 1em;
    content: "";
    background-image: url(./public/images/coxa.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  .section-franchises .splide__arrow.splide__arrow {
    top: 50%;
  }
}
.is-hidden {
  display: none;
}
